
/* .itemCrd {
  margin: auto auto;
  height: 10em;
  width: 200px;
  box-sizing: border-box;
  display: block;
  border-radius: 10%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.itemCrd:hover {
  zoom: 1.3;
  scale: 2;
  background-color: antiquewhite;
  animation-direction: alternate;
  animation-name: focus;
  font-weight: bold;
}
 */
 nz-card{
   height: 250px;
   width: 200px;
   padding: 2px;
   margin: 2px 2px;
 }
 img {
   position: inherit;
   margin-top: -42px;
   width: 100%;
   height: 70%;
 }

nz-badge{
  display: flex;
  margin-top: -22px;
}
span{
  font-display: inherit;
  font-size: 3;
  font-weight: 500;
  font-stretch: expanded;
  font-style: oblique;
  color: black;


}
