<div class="itemCrd">
<div class="card">
    <img [src]='test_item.images' class="card-img-top" alt="2">
    <div class="card-body">
      <h5 class="card-title">{{test_item.name}}</h5>
      <p class="card-text">
        {{test_item.buy_date}}
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
</div>
<!-- <div class="badge">
    <div class="card">
        <img [src]='test_item.images' class="card-img-top" alt="2">
        <div class="card-body">
          <h5 class="card-title">{{test_item.name}}</h5>
          <p class="card-text">
            {{test_item.buy_date}}
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    </div>
 -->
