

<!-- <div class="cardList">
  <app-item-card *ngFor="let item of ItemList" [item]='item'></app-item-card>
</div> -->

<!-- <mat-drawer-container #drawer class="example-container" [hasBackdrop]="hasBackdrop.value">
  <!-- <mat-drawer #drawer [mode]="mode.value">I'm a drawer
    <mat-selection-list #shoes>
      <mat-list-option *ngFor="let item of ItemList">
        {{item.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer> -->
 <!--  <mat-drawer-content >
    <div class='right_menu'>
    <mat-form-field >
      <mat-label>Sidenav mode</mat-label>
      <mat-select #mode value="side">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Has backdrop</mat-label>
      <mat-select #hasBackdrop>
        <mat-option>Unset</mat-option>
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
  </div>

      <div class="cardList" >
        <app-item-card *ngFor="let item of ItemList" [item]='item' class="single-card" (click)='selectItem(item)'></app-item-card>
      </div>


  </mat-drawer-content>
</mat-drawer-container> -->
<div class="cardList" >
  <app-item-card *ngFor="let item of ItemList" [item]='item' class="single-card" (click)='selectItem(item)'></app-item-card>
</div>

