<img [src]='itemSample.images'>
<div class="container">
  <div class="row">
    <h2 class='title'>{{itemSample.name}}</h2>
  </div>
  <div class="row">
    <p>
      <strong>Description: </strong>
      <br>
      {{itemSample.description}}
    </p>
  </div>
  <div class="row">
      <p>
        <strong>Stock: </strong>
        <br>
        not yet
      </p>
    </div>
  <div class="row">
      <p>
          <strong>Price: </strong>
          <br>
          {{itemSample.sell_price}} <strong>DH</strong>
        </p>
  </div>
</div>
