<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">
              <i nz-icon [nzType]="'home'"></i>Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink='/store'>
              <i nz-icon [nzType]="'appstore'"></i>Store</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink='/new-item'>
              <i nz-icon [nzType]="'plus'"></i>Add Item</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>

        </span>
        <div class='search'>
            <nz-input-group [nzSuffix]="suffixIconSearch" [nzCompact]=true [nzSize]='large' #myCollapsible>
                <input type="text" nz-input placeholder="input search text" />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <span  >
                <i  nz-icon nzType="search"   ></i>
              </span>
              </ng-template>

      </div>
      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>

             </div>

      <footer class="inner-content">
        <hr>
             <div class='links'>
                <div nz-row>
                  <div nz-col nzspan="10" >
                    <h5>Quick links</h5>
                  </div>
                </div>
                <div nz-row nzType="" nzJustify="space-around"  nzAlign="middle">
                    <div nz-col nzspan="2" >
                          <a href='###'>
                              <i nz-icon nzType="search" nzTheme="outline"></i>
                              Search</a>
                      </div>
                    <div nz-col nzspan="2" nzoffset="2">
                          <a href='###'>
                              <i nz-icon nzType="phone" nzTheme="outline"></i>
                              Contact us</a>
                    </div>
                    <div nz-col nzspan="2" nzoffset="2" >
                          <a href='###'>
                              <i nz-icon nzType="read" nzTheme="outline"></i>Refund policy</a>
                  </div>
                </div>
              </div>
                <hr>
                <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                  <div nz-col nzSpan="10" class='height-50' nzOffset="1">
                      <i nz-icon nzType="facebook" nzTheme="fill"></i>
                      <i nz-icon nzType="twitter-circle" nzTheme="fill"></i>
                      <i nz-icon nzType="youtube" nzTheme="fill"></i>
                  </div>

                </div>
                <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                  <div nzSpan="10" class='height-50' nzOffset="1">
                  <p>Powered by Omar</p>
                </div>
                </div>
              </footer>

    </nz-content>


  </nz-layout>

</nz-layout>
