  <div class="container">
    <nz-carousel nzAutoPlay="true">
        <div nz-carousel-content *ngFor="let index of array">
          <img [src]='images[index]'>
        </div>
      </nz-carousel>
    </div>
    <br>
    <div class="container" >
    <div  nz-row nzType="flex" nzJustify="space-around" nzAlign="bottom" class='second'>
      <div nz-col nzSpan="10" class='text1'>
        <h2>Holla</h2>
        <br>
        <p>We are very excited to introduce the Man Overboard kit: essentials for life on the go. Our goal was to create a beautiful set of leather goods that will be functional, simple and last a lifetime. We are making the whole kit available at a great price for purchase, along with each piece sold separately.</p>
      </div>
      <div nz-col nzSpan="10">
        <img src='https://image.shutterstock.com/image-photo/beautiful-texture-decorative-venetian-stucco-260nw-1193660509.jpg'>
      </div>
    </div>
  </div>
  <div class="container" >
    <div  nz-row nzType="flex" nzJustify="space-around" nzAlign="bottom" class='second'>

      <div nz-col nzSpan="10" class='img2'>
        <img src='https://st.depositphotos.com/1000123/2719/i/450/depositphotos_27191477-stock-photo-abstract-backgrounds-with-water-bubbles.jpg'>
      </div>
      <div nz-col nzSpan="10" class='text2'>
        <h2>Holla</h2>
        <br>
        <p>We are very excited to introduce the Man Overboard kit: essentials for life on the go. Our goal was to create a beautiful set of leather goods that will be functional, simple and last a lifetime. We are making the whole kit available at a great price for purchase, along with each piece sold separately.</p>
      </div>
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container">
    <div nz-row>
      <div nz-col nzSpan='8' nzOffset="9">
          <h2>TESTIMONIALS</h2>
      </div>
       </div>
       <br>
    <div nz-row nzType="flex" nzJustify="space-around">
          <div nz-col nzSpan="4" >
            <div nz-col nzSpan='6' nzoffset="4">
              <i nz-icon nzType="thunderbolt" nzTheme="outline"></i>
            </div>
              <p>
                  Using full grain leather means that each of our pieces will be naturally unique. Rather than wearing out, it will develop a patina over time. Our leather will wear beautifully and only gets better with age.
              </p>
              <h4>-Omar Ch.</h4>
             </div>
          <div nz-col nzSpan="4">
                <div nz-col nzSpan='6' nzoffset="4">
                    <i nz-icon nzType="safety" nzTheme="outline"></i>
                </div>
                  <p>
                      Using full grain leather means that each of our pieces will be naturally unique. Rather than wearing out, it will develop a patina over time. Our leather will wear beautifully and only gets better with age.
                  </p>
                  <h4>-Omar Ch.</h4>
                 </div>
         <div nz-col nzSpan="4" >
                    <div nz-col nzSpan='6' nzoffset="4">
                        <i nz-icon nzType="paper-clip" nzTheme="outline"></i>
                    </div>
                      <p>
                          Using full grain leather means that each of our pieces will be naturally unique. Rather than wearing out, it will develop a patina over time. Our leather will wear beautifully and only gets better with age.
                      </p>
                      <h4>-Omar Ch.</h4>
                     </div>
        </div>
  </div>
  <br>
  <br>

  <div  class='second_half'>
    <div nz-row>
      <!-- <div nz-col nzSpan="6">
        <img [src]='images2[0]'>
      </div>
      <div nz-col nzSpan="6">
          <img [src]='images2[1]'>
        </div> -->
        <img src="../../assets/Capture.PNG" alt="">
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
      <div nz-row>
        <div nz-col nzSpan='8' nzOffset="9">
            <h2>FEATURED COLLECTION</h2>
        </div>
         </div>
         <br>
      <div nz-row nzType="flex" nzJustify="space-around">
            <div nz-col nzSpan="4" >
              <img src="../../assets/1.PNG" alt="">
              <div class="descrip">
                <a href='###' >Charger Wrap</a>
                <h6>$45.00</h6>
               </div>
              </div>
               <div nz-col nzSpan="4" >
                  <img src="../../assets/2.PNG" alt="">
                  <div class="descrip">
                      <a href='###' >Charger Wrap</a>
                      <h6>$45.00</h6>
                     </div>
                   </div>
                   <div nz-col nzSpan="4" >
                      <img src="../../assets/3.PNG" alt="">
                      <div class="descrip">
                          <a href='###' >Charger Wrap</a>
                          <h6>$45.00</h6>
                         </div>
                       </div>
                    <div nz-col nzSpan="4" >
                          <img src="../../assets/4.PNG" alt="">
                          <div class="descrip">
                              <a href='###' >Charger Wrap</a>
                              <h6>$45.00</h6>
                             </div>
                           </div>
          </div>
    </div>

