[nz-carousel-content] {
  text-align: center;
  height: 100px;
  width: 100%;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
  margin: 3px 3px;
}

h3 {
  color: #fff;
}
.second{
  margin-left: 55px;
    margin-right: 201px;
    margin-top: 82px;
}
.text1{
  display: block;
  position: relative;
}
.img2{
  height: 400px;
  width: 400px;
  margin-left: -78px;
}
.text2{
  margin-right: -111px;
}
i{
  size: 20px;
    zoom: 3;
}
.second_half{
  margin-right: -200px;
}
.descrip{
  text-align: center;
  text-size-adjust: inherit;
  font-size: x-large;
}
a{
  font-style: italic;
    color: black;
    font-weight: bold;
    font-family: none;
}
